<nav>
  <h2>Mockups</h2>
  <ul>
    <li><%= link_to "Main screen - list analyzed pages", mockup_path("list-pages") %></li>
    <li><%= link_to "Screen showing results for a given page", mockup_path("show-page") %></li>
  </ul>
</nav>
