<div class="failed-state" style="padding: 20px; border: 1px solid red; color: #cc0000;">
  <p>Analysis failed due to:</p>
  <% if analysis.error_message.present? %>
    <strong><p><%= analysis.error_message %></p></strong>
  <% else %>
    <strong><p>an unexpected error occurred.</p></strong>
  <% end %>

  <%= button_to "Retry", analysis_path(analysis), method: :put, class: "btn btn-primary" %>
</div>