 <div class="loading-state" style="padding: 20px; text-align: center;">
  <p style="font-size: 1.2em;"><%= status.humanize %><span class="loading-dots"><span>.</span><span>.</span><span>.</span></span></p>
</div>