<%= turbo_stream_from @analysis %>

<div style="margin-bottom: 20px;">
  <% if @analysis.web_page %>
    <%= link_to '← Back to homepage', root_path, class: 'btn btn-secondary' %>
  <% end %>
</div>


<%= render partial: "analyses/analysis", locals: { analysis: @analysis } %>


