<header>
  <h1>Web Page Analyzer</h1>
  <%= form_with(url: analyses_path, scope: :analysis, method: :post) do |form| %>
    <%= form.url_field :url, placeholder: "Enter the URL...", required: true %>
    <%= form.button "Analyze", type: "submit" %>
  <% end %>
</header>

<main>
  <section>
    <h2>Previously Analyzed Pages</h2>
    <ul>
      <li><a href="/mockups/show-page" target="_blank" rel="noopener">Analyzed webpages will appear here</a></li>
    </ul>
  </section>
</main>
